body {
  background-color: #236328;
}

.editButton {
  background-color: transparent;
}

.inputLabel {
  margin: 10px 0;
  color: white;
}

.peepLabel {
  width: 60px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.peepButtons {
  margin-top: 20px;
}

.peepButton {
  margin-left: 40px;
}

.goodPeeps {
  border: 10px solid transparent;
  padding: 15px;
  margin: 10px;
  /*border-image: url(/assets/0a6d7537e0fb9127801f20546851b75b.jpg) 30 stretch;*/
}

.Angelic {
  border-image: url(/assets/5ea2aa1cdbc286a8626edb12dd3e2594.gif) 30 stretch;
}

.Great {
  border-image: url(/assets/0a6d7537e0fb9127801f20546851b75b.jpg) 30 stretch;
}

.NotTooBad {
  background-color: #6cb573;
}

.Weak {
  background-color: #ec9f39;
}

.DamnedToHell {
  background-color: #e46161;
}

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
